.image-container {
    position: relative;
    width: 450px;
    height: 350px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-family: Montserrat;
    flex-direction: column;
    padding: 10px;
    font-size: large;
}

.image-container:hover .overlay {
    opacity: 1;
}